<section id="recruitment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recruitment</h2>
                    <h3 class="section-subheading text-muted">Interested in joining Phi Sigma Rho? Our next Recruitment Week is during Fall 2016. Get to know us at these events!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/greekcarnival.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fall Semester</h4>
                                    <h4 class="subheading">Late August, 2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will begin tabling during the beginning of the school year. Look out for us on Sproul and at Greek Carnival!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/recruitment.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Meet the Chapter</h4>
                                    <h4 class="subheading">Sunday, August 28</br>6PM @ 290 HMMB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Meet the chapter, mingle with other potential members, and become part of our Delta class.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/night.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Social Night</h4>
                                    <h4 class="subheading">Tuesday, August 30</br>6PM @ 310 HMMB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Show off your wit and creativity with the sisters over games and challenges</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/glade.bmp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Phit Phi Rho</h4>
                                    <h4 class="subheading">Wednesday, August 31<br>6:30 PM @ VLSB Lawn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Destress with some frisbee, music, light refreshments, and sunset views!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/food.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Invite Only</h4>
                                    <h4 class="subheading">Friday, September 2<br>6:30 PM @ TBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bring your appetite and energy for an evening of Phi Rho love! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>See you
                                    <br>there!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>

