<section id="recruitment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recruitment</h2>
                    <h3 class="section-subheading text-muted">Interested in joining Phi Sigma Rho? Our next Recruitment Week is during Fall 2016. Get to know us at these events!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/greekcarnival.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fall Semester</h4>
                                    <h4 class="subheading">Late August, 2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will begin tabling during the beginning of the school year. Look out for us on Sproul and at Greek Carnival!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/recruitment.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Meet the Chapter</h4>
                                    <h4 class="subheading">Sunday, August 28</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Meet the chapter, mingle with other potential members, and become part of our Delta class.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/night.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Social Night!</h4>
                                    <h4 class="subheading">Tuesday, August 30</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/glade.bmp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Frisbee at the Glade</h4>
                                    <h4 class="subheading">Wednesday, August 31</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/recruitment/food.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BBQ @ La Loma House (Invite Only)</h4>
                                    <h4 class="subheading">Friday, September 2</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>See you
                                    <br>there!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>

