
<div class="jumbotron text-center">
  <div class="container">
    <br><br><br><br><br><br><br><br>
    <h1>University of California, Berkeley</h1>
    <h2>Phi Sigma Rho</h2>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Interested in Recruitment?</a>
  </div>
</div>

<!--             <div class="intro-text">
                <div class="intro-lead-in">University of California, Berkeley</div>
                <div class="intro-heading">Phi Sigma Rho</div> -->