<!DOCTYPE html>
<head>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<html lang="en">
<section id="events">
    <div class="container">
        <div class="row">

            <body>

            <!-- Blog Entries Column -->
            <div class="col-md-6 text-center">

                <h1 class="page-header">
                    Newsfeed
                </h1>
                 <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/uEthJ4g1x36BMJ0Ju9QCHg/142858495417" data-did="a90a6234512a8369c29c6d312ea74f3aabcf9779"><a href="http://calphirho.tumblr.com/post/142858495417/mounza-and-sap-event-talk">http://calphirho.tumblr.com/post/142858495417/mounza-and-sap-event-talk</a></div>  <script async src="https://secure.assets.tumblr.com/post.js"></script>

                 <div class="tumblr-post" data-href="https://embed.tumblr.com/embed/post/uEthJ4g1x36BMJ0Ju9QCHg/142858376602" data-did="1522ce1a7b58604d8c095b1d84930b4d6122ed3c"><a href="http://calphirho.tumblr.com/post/142858376602/intuit-workshop">http://calphirho.tumblr.com/post/142858376602/intuit-workshop</a></div>  <script async src="https://secure.assets.tumblr.com/post.js"></script>

                <!-- First Blog Post 
                <h2>
                    <a href="#">SAP HANA Evolution from High Performance Enterprise Data Management to Big Data Platform</a>
                </h2>
                
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                
                <p>Hosted on March 31, 2016 at 8:00 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>SPEAKER: Anil Goel, Chief Architect, HANA Data Platform</p>
                <p>ABSTRACT:</p>
                <p>
				SAP's HANA data management platform was architected from the grounds up
				to leverage modern hardware technologies including large main memories,
				multi-core parallelism, SIMD architectures and vector processing, and
				to exploit software-hardware co-innovation. HANA supports novel and
				existing applications with dramatically faster queries, access to up-
				to-date business data, and greatly simplified database administration.
				In this talk, we'll describe some key aspects of the internal
				design of the HANA system, explaining how HANA achieves orders of
				magnitude performance improvements.
				</p>
				<p>

				We will then describe the evolution of SAP HANA into a
				holistically integrated Big Data platform designed to solve enterprise
				data problems end to end. We will introduce SAP HANA Vora, an in-memory
				query engine for Apache Spark and Hadoop, and describe the SAP strategy
				and vision for Big Data management. In this context, we will argue for
				a novel architecture for massively distributed database management.
				</p>
				<p>

				Finally we'll reflect upon some future directions for HANA to stay abreast of imminent advancements in storage class memories and system architectures.
                </p>
                <!--
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                -->

                

                <!-- Pager 
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
                -->

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-6 text-center">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Upcoming Events</h4>
                    
                    <h2>CAL DAY</h2>

                    <%= image_tag "events/cal_day.jpg", :size => '400x400' =%>
                </div>

        	<hr>
	    <!-- jQuery -->
	    <script src="js/jquery.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js"></script>

		</body>

        </div>
    </div>
</section>
</html>
